<!-- Footer -->
<footer>
	<div class="container">
		<div class="row">
			<div class="col-sm-3">
				<p><a class="navbar-brand hidden-xs" href="#" id="cabecera-responsive"> <img src="img/imagotip.png" id="logo-cabecera" /> SOBRE RUEDAS</a></p>
				<br><br>
				<p id="location-footer">C/ La Vila Del Pingüí, 26
				<br> Bajos, Barcelona 000000<br> España</p>
			</div>
			<div class="col-sm-3">
			</div>
			<div class="col-sm-3">
					<p class="titulo-footer">Encuentra lo que buscas</p>
					<p><a class="listado-footer" href="/">Inicio</a></p>
			    <p><a class="listado-footer" href="#">Teorica</a></p>
			    <p><a class="listado-footer" href="#">Practica</a></p>
					<p><a class="listado-footer" href="#">Contacto</a></p>
			</div>
			<div class="col-sm-3">
					<p class="titulo-footer">Síguenos</p>
					<p><a class="listado-footer" href="#"><i class="fa fa-facebook-square fa-2x"></i>&nbsp; &nbsp; facebook/SobreRuedas.com</a></p>
					<p><a class="listado-footer" href="#"><i class="fa fa-twitter-square fa-2x"></i>&nbsp; &nbsp; @SobreRuedas</a></p>
					<p><a class="listado-footer" href="#"><i class="fa fa-instagram fa-2x"></i>&nbsp; &nbsp; @SobreRuedas</a></p>
			</div>
		</div>
		<div class="row">
			<div class="align-center">
				<p><a class="listado-footer" href="#"><i class="fa fa-creative-commons  fa-1x"></i>&nbsp; &nbsp; by Marta Corchado y Juan Oliva</a></p>
			</div>
		</div>
	</div>
</footer>
<!-- Fin Footer -->