<meta charset="UTF-8">

	<!-- Bootstrap Core CSS -->
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" href="css/bootstrap.css">

	<!--FAVICON -->
	<link href="img/favicon.ico" rel="icon">

	<!--SEO Elements -->
	<title>Autoescuela Sobre Ruedas | La mejor autoescuela del mundo mundial</title>
	<meta name="Description" content="La mejor autoescuela del mundo mundial." >
	<meta name="Keywords" content="Autoescuela, clases de teorica, practicas de conducir, coche, carné de coche.">

	<!-- Custom CSS -->
	<link href="css/style.css" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

	<!-- Typography -->
	<link href='https://fonts.googleapis.com/css?family=Lato:400,300,900,300italic,400italic,900italic' rel='stylesheet' type='text/css'>

	<!-- Jquery -->
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
	<script language="Javascript" type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>
	<script language="Javascript" type="text/javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

	<link rel="stylesheet" href="dist/css/calendar.min.css"/>
    <script src="http://cdn.staticfile.org/angular.js/1.2.10/angular.min.js"></script>
    <script src="dist/js/calendar-tpls.js"></script>
    <script src="js/calendarDemoCtrl.js"></script>
