<meta charset="UTF-8">

	<!-- Bootstrap Core CSS -->
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" href="css/bootstrap.css">

	<!--FAVICON -->
	<link href="img/favicon.ico" rel="icon">

	<!--SEO Elements -->
	<title>Autoescuela Sobre Ruedas | La mejor autoescuela del mundo mundial</title>
	<meta name="Description" content="La mejor autoescuela del mundo mundial." >
	<meta name="Keywords" content="Autoescuela, clases de teorica, practicas de conducir, coche, carné de coche.">

	<!-- Custom CSS -->
	<link href="css/style.css" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

	<!-- Typography -->
	<link href='https://fonts.googleapis.com/css?family=Lato:400,300,900,300italic,400italic,900italic' rel='stylesheet' type='text/css'>

	<!-- Jquery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
