<!-- Menú -->
	<nav class="navbar navbar-inverse navbar-fixed-top" data-spy="affix" data-offset-top="197" role="navigation">
	  <div class="container">
	    <p class="container">
		  <!-- Hamburguesa -->
		  <div class="navbar-header">
		    <button type="button" class="navbar-toggle" data-toggle="collapse"
		            data-target=".navbar-ex1-collapse">
		      <span class="sr-only">Desplegar navegación</span>
		      <span class="icon-bar"></span>
		      <span class="icon-bar"></span>
		      <span class="icon-bar"></span>
		    </button>
		    <a class="navbar-brand visible-xs-block" href="#" id="cabecera-responsive"> <img src="img/imagotip.png" id="logo-cabecera" /> SOBRE RUEDAS</a>
		  </div>

		  <!-- Menú -->
			<div class="collapse navbar-collapse navbar-ex1-collapse">
				<a class="navbar-brand hidden-xs" href="#" id="cabecera-responsive"> <img src="img/imagotip.png" id="logo-cabecera" /> SOBRE RUEDAS</a>
		    <ul class="nav navbar-nav navbar-right">
					<li><a href="/">Inicio</a></li>
			    <li><a href="#">Teorica</a></li>
			    <li><a href="#">Practica</a></li>
					<li><a href="#">Contacto</a></li>
					<%= botonRegistro %>
		    </ul>
		  </div>
			</p>
	  </div>
	</nav>