<li><a href="/">Inicio</a></li>
<li><a href="/">Teórica</a></li>
<li><a href="/">Práctica</a></li>
<li><a href="#">Contacto</a></li>
<button type="button"  onclick="window.location.href='/registro'" class="btn btn-default btn-success">REGISTRO <img src="img/key.png" id="hr" /></button>