<!-- Cabecera -->


    <script src="http://cdn.staticfile.org/angular.js/1.2.10/angular.min.js"></script>
    <script src="js/practicasProfe.js"></script>


<div ng-app="showPractis" ng-controller="buscarPractis" >

    <div class="container">
        <div id="panel-form" ng-init='busquedaPracticas()'>
                <div class="row">
                    <div class="col-sm-4 col-xs-12" >
                       <img class="logoResponsive" src="img/volante.png" alt="Volante" />
                    </div>
                    <div class="col-sm-8">
                        <p class="text-banner-principal-petit align-center">Prácticas de conducir </p>
                        <p class="text-banner-principal align-center">Programadas para hoy:</p>
                        <p class="text-banner-principal-petit-negre align-center" ng-repeat="x in users">{{x.title + " a las  " + (x.startTime | date:'HH:mm') }}</p>
                    </div>
                </div>

            <div class="modal fade" id="ISesion" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class='modal-title align-center' id='myModalLabel'>Test</h4>
                        </div>
                        <div class="modal-body">
                            <br>
                        </div>
                        <div class="modal-footer align-center">


                            <div class='form-group'>
                             <div class='col-sm-offset-2 col-sm-10'>
                                 <button ng-hide="acabado" class='btn btn-default' data-dismiss='modal'>Cancelar
                                 </button>
                             </div>
                             <div class='col-sm-offset-2 col-sm-10'>
                                 <button ng-hide="acabado" type='submit' class='btn btn-default' ng-click='corregir()'>Acabar
                                 </button>
                             </div>
                             <div  ng-show="acabado" class='col-sm-offset-2 col-sm-10'>
                                 <button type='submit' class='btn btn-default' data-dismiss='modal' ng-click='reset()'>Finalizar
                                 </button>
                                 <h3>{{ fallos }} fallos</h3>
                             </div>
                         </div>

                     </div>
                 </div>
             </div>
         </div>
     </div>
 </div>
</div>
<!-- FIN Modal -->


</form>
</div>
</div>
</div>

</div>