<!DOCTYPE html>
<html lang="es">
<head>
	<% include ./partials/head %>

	<script>
	function asignarClase() {
		var person = prompt("Pon tu nombre:", "");
    if (person != null) {
	    document.getElementById("newClass").innerHTML = person;
	}
	$('#confirmar-clase').on('click', function() {
		document.getElementById("newClass").innerHTML = document.getElementById("nombre");
	});
}
	</script>
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="50">
	<% include ./partials/navbar %>

 <!-- Cabecera -->
 	<div id="container-img-calendar">
	</div>

<!-- Calendar -->
<div class="background">
    <div class="container">
        <h3 class="align-center">Horario de prácticas de esta semana</h3>
		<div class="table-responsive">
			<table class="table table-striped table-hover" id="miTabla"></table>
		</div>
	</div>
</div>
	<!-- fin Calendar -->

	<script>
	function myFunction() {
	    var d = new Date();
	    d.setHours(8);
	    document.getElementById("demo").innerHTML = d;
	}

	//Dónde colocaremos la tabla
	var table = document.getElementById("miTabla");

	function crearTablero(){
	  var d = new Date();
	  d.setHours(7);
        d.setMinutes(15);
	  var row = table.insertRow(0);
	  row.insertCell(0).innerHTML = "Sábado";
	  row.insertCell(0).innerHTML = "Viernes";
	  row.insertCell(0).innerHTML = "Jueves";
	  row.insertCell(0).innerHTML = "Miercoles";
	  row.insertCell(0).innerHTML = "Martes";
	  row.insertCell(0).innerHTML ="Lunes";
	  row.insertCell(0).innerHTML = "Horas";
	  for ( var i = 1; i <= 17 ; i++){
	    var row2 = table.insertRow(i);
	      for ( var j = 6; j > 0 ; j--){
	        var cell = row2.insertCell(0);
              cell.id=j;
              if(d.getDay() == j){
                  cell.style.backgroundColor = "rgba(0, 0, 0, 0.3)";
              }
	      }
          d.setMinutes(d.getMinutes() + 45);
	      row2.insertCell(0).innerHTML = d.getHours() + ":" + d.getMinutes();
	    }
	}
	crearTablero();

	table.addEventListener("click", function(e){
        
	 var event = e.target;
        var date = new Date();
        // Para saber el día de la semana
        var dia = date.getDay();
        dia = dia - event.id;
        date.setDate(date.getDate() - dia);
        //Para saber la hora que se quiere concertar
        var hora = document.getElementById("2").rows[0].cells.item(1).innerHTML
        alert(date.getDate() + " a la hora " + hora);
	});
	</script>
	<!-- fin Calendar -->


	<% include ./partials/footer %>
	
	<script src="js/bootstrap.min.js"></script>
</body>
</html>
