<!DOCTYPE html>
<html lang="es">
<head>
	<% include ./partials/head %>
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="50">
	<% include ./partials/navbar %>

 <!-- Cabecera -->
 	<div id="container-img-calendar">
	</div>

 <!-- Packs -->
<div class="background table-responsive">
	<div id="panel-form">
	<table class="table table-hover">
		<thead>
			<tr>
				<th></th>
				<th>Lunes</th>
				<th>Martes</th>
				<th>Miercoles</th>
				<th>Jueves</th>
				<th>Viernes</th>
				<th>Sábado</th>
			</tr>
		</thead>
		<tbody>

			<tr>
				<td scope="row">8:00</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td scope="row">8:45</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td scope="row">9:30</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td scope="row">10:15</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td scope="row">11:00</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td scope="row">11:45</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			
			</tr>
			<tr>
				<td scope="row">12:30</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td scope="row">13:15</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td scope="row"></td>
				<td>C</td>
				<td>O</td>
				<td>M</td>
				<td>I</td>
				<td>D</td>
				<td>A</td>
			</tr>
			<tr>
				<td scope="row">15:15</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td scope="row">16:00</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td scope="row">16:45</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td scope="row">17:30</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td scope="row">18:15</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td scope="row">19:00</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
			<tr>
				<td scope="row">19:45</td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</tbody>
	</table>
</div>
<div class="container">
			
	</div>
</div>
	<!-- fin Packs -->

	<% include ./partials/footer %>
	
	<script src="js/bootstrap.min.js"></script>
</body>
</html>
