<!DOCTYPE html>
<html lang="es" ng-app="datosUser">
    <head>
        <meta charset="UTF-8">

        <!-- Bootstrap Core CSS -->
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <link rel="stylesheet" href="css/bootstrap.css">

        <!--FAVICON -->
        <link href="img/favicon.ico" rel="icon">

        <!--SEO Elements -->
        <title>Autoescuela Sobre Ruedas | La mejor autoescuela del mundo mundial</title>
        <meta name="Description" content="La mejor autoescuela del mundo mundial." >
        <meta name="Keywords" content="Autoescuela, clases de teorica, practicas de conducir, coche, carné de coche.">

        <!-- Custom CSS -->
        <link href="css/style.css" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

        <!-- Typography -->
        <link href='https://fonts.googleapis.com/css?family=Lato:400,300,900,300italic,400italic,900italic' rel='stylesheet' type='text/css'>

        <!-- LINKS VALIDATORS -->
        <link rel="stylesheet" href="css/bootstrapValidator.css"/>
        <script  type="text/javascript" src="js/bootstrapValidator.js"></script>
        <!-- datepicker bootstrap -->
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.min.css" />


        <script  src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.min.js"></script>

        <!-- Jquery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>


        <script src="http://cdn.staticfile.org/angular.js/1.2.10/angular.min.js"></script>
        <script src="js/datosUser.js"></script>


    </head>
    <body data-spy="scroll" data-target=".navbar" data-offset="50">

        <!-- Menú -->
        <nav class="navbar navbar-inverse navbar-fixed-top" data-spy="affix" data-offset-top="197" role="navigation">
            <div class="container">
                <p class="container">
                    <!-- Hamburguesa -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Desplegar navegación</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand visible-xs-block" href="#" id="cabecera-responsive"> <img src="img/imagotip.png" id="logo-cabecera" /> SOBRE RUEDAS</a>
                </div>

                <!-- Menú -->
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <a class="navbar-brand hidden-xs" href="#" id="cabecera-responsive"> <img src="img/imagotip.png" id="logo-cabecera" /> SOBRE RUEDAS</a>
                    <ul class="nav navbar-nav navbar-right">
                        <%- include(botonRegistro) %>
                    </ul>
                </div>
                </p>
            </div>
        </nav>
    <!-- Cabecera -->
    <div id="container-img-profile" ng-controller="datosUsuario">
        <div class="container">
            <div id="panel-form">
                <div class="row">
                    <div class="col-sm-3">
                        <img src="img/avatar.gif" class="img-circle img-user-profile" />
                    </div>
                    <div class="col-sm-6" ng-init="datosUserFunction()">
                        <p class="title">Datos de perfil</p>
                        <div class="row" ng-hide="editor">
                            <div class="col-sm-6">
                                <p class="datos">Nombre: <span class="datos-user"> {{ datos[0].nombre }}</span></p>
                                <p class="datos">Apellidos: <span class="datos-user"> {{ datos[0].apellidos }}</span></p>
                                <p class="datos">DNI: <span class="datos-user"> {{ datos[0].dni }}</span></p>
                                <p class="datos">Fecha de nacimiento: <span class="datos-user"> {{ datos[0].fechNacimiento | date:'dd-MM-yyyy'}}</span></p>
                            </div>
                            <div class="col-sm-6">
                                <p class="datos">Dirección: <span class="datos-user"> {{ datos[0].direccion.calle + " " + datos[0].direccion.num }}</span></p>
                                <p class="datos">Codigo postal: <span class="datos-user"> {{ datos[0].direccion.cp }}</span></p>
                                <p class="datos">Provincia: <span class="datos-user"> {{ datos[0].direccion.provincia }}</span></p>
                                <p class="datos">País: <span class="datos-user"> {{ datos[0].direccion.pais }}</span></p>
                            </div>
                        </div>
                        <div class="row" ng-show="editor">
                            <form id="validatorForm" class="form-horizontal" role="form" action="" method="post" >
                            <div class="col-sm-6">
                                <p class="datos">Nombre: <span class="datos-user"><input type="text" class="form-control" name="nombre" ng-model="editaNombre" ng-show="editor" placeholder="{{ datos[0].nombre }}"></span></p>
                                <p class="datos">Apellidos: <span class="datos-user"><input type="text" class="form-control" name="apellidos" ng-model="editaApellidos" ng-show="editor" placeholder="{{ datos[0].apellidos }}"></span></p>
                                <p class="datos">DNI: <span class="datos-user"><input type="text" class="form-control" name="dni" ng-model="editaDni" ng-show="editor" placeholder="{{ datos[0].dni }}"></span></p>
                                <p class="datos">Fecha de nacimiento: <span class="datos-user">

                                    <div class="input-group input-append date" id="datePicker">
                                        <input type="text" class="form-control" name="fechNacimiento" ng-model="editaFecha" ng-show="editor" placeholder="{{ datos[0].fechNacimiento | date:'dd-MM-yyyy'}}" />
                                        <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                                    </div>

                                    </span></p>
                            </div>
                            <div class="col-sm-6">
                                <p class="datos">Dirección: <span class="datos-user"><input type="text" class="form-control" name="calle" ng-model="editaCalle" ng-show="editor" placeholder="{{ datos[0].direccion.calle }}"></span>
                                    Numero:<span class="datos-user"><input type="text" class="form-control" name="num" ng-model="editaNum" ng-show="editor" placeholder="{{ datos[0].direccion.num }}"></span></p>
                                <p class="datos">Codigo postal: <span class="datos-user"><input type="text" class="form-control" name="cp" ng-model="editaCp" ng-show="editor" placeholder="{{ datos[0].direccion.cp }}"></span></p>
                                <p class="datos">Provincia: <span class="datos-user"><input type="text" class="form-control" name="provincia" ng-model="editaProvincia" ng-show="editor" placeholder="{{ datos[0].direccion.provincia }}"></span></p>
                                <p class="datos">País: <span class="datos-user"><input type="text" class="form-control" name="pais" ng-model="editaPais" ng-show="editor" placeholder="{{ datos[0].direccion.pais }}"></span></p>
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-3" ng-hide="editor">
                        <button class="btn btn-default" ng-click="editar()">Editar perfil</button>
                    </div>
                    <div class="col-sm-3" ng-show="editor">
                        <button class="btn btn-default" ng-click="guardar()">Guardar</button>
                        <button class="btn btn-default" ng-click="cancelar()">Cancelar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>   
    <script type="text/javascript">
        $(document).ready(function() {
            $('#datePicker').datepicker({
                format: 'mm/dd/yyyy',
                startDate: '01/01/1950',
                endDate: '30/12/1998'
            });



            var url = window.location.href; 
            var nuevaVar = url.slice(-1);
            $('#inlineRadio' + nuevaVar).prop( "checked", true );
            $('#validatorForm').bootstrapValidator({
                message: 'Campo no válido, vuelve a intentarlo',
                feedbackIcons: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                },
                fields: {
                    nombre: {
                        row: '.col-sm-4',
                        message: 'Nombre no válido',
                        validators: {
                            notEmpty: {
                                message: 'El nombre és obligatorio, no puede esta vacio'
                            },
                            stringLength: {
                                min: 3,
                                max: 50,
                                message: 'El nombre no puede ser más corto de 2 letras ni más largo de 20'
                            },
                            regexp: {
                                regexp: /^[ñA-Za-z _]*[ñA-Za-z][ñA-Za-z _]*$/,
                                message: 'El nombre solo puede contener letras y espacios'
                            }
                        }
                    },
                    apellidos: {
                        message: 'Apellidos no válidos',
                        validators: {
                            notEmpty: {
                                message: 'El apellido és obligatorio, no puede esta vacio'
                            },
                            stringLength: {
                                min: 3,
                                max: 20,
                                message: 'El apellido no puede ser más corto de 2 letras ni más largo de 20'
                            },
                            regexp: {
                                regexp: /^[ñA-Za-z _]*[ñA-Za-z][ñA-Za-z _]*$/,
                                message: 'El apellido solo puede contener letras y espacios'
                            }
                        }
                    },
                    dni: {
                        validators: {
                            id: {
                                country: 'ES',
                                message: 'DNI no válido (recuerda: letras en mayúscula)'
                            }
                        }
                    },
                    fechNacimiento: {
                        validators: {
                            notEmpty: {
                                message: 'Necesitas escoger una fecha'
                            },
                            date: {
                                format: 'MM/DD/YYYY',
                                message: 'La fecha no es válida.'
                            }
                        }
                    },
                    calle: {
                        message: 'Dirección no valida',
                        validators: {
                            notEmpty: {
                                message: 'La dirección és obligatoria, no puede esta vacio'
                            },
                            stringLength: {
                                min: 3,
                                max: 20,
                                message: 'La dirección no puede ser más corto de 2 letras ni más largo de 20'
                            },
                            regexp: {
                                regexp: /^[a-zA-Z0-9\s]+$/,
                                message: 'La dirección solo puede contener letras, numeros y espacios'
                            }
                        }
                    },
                    num: {
                        validators: {
                            notEmpty: {
                                message: 'Campo obligatorio, no puede estar vacío'
                            },
                            regexp: {
                                message: 'El numero tiene un máximo de 4 cifras',
                                regexp: /^[0-9]{1,4}$/
                            }
                        }
                    },
                    cp: {
                        validators: {
                            notEmpty: {
                                message: 'Campo obligatorio, no puede estar vacío'
                            },
                            regexp: {
                                message: 'El codigo postal sólo puede contener 5 numeros',
                                regexp: /^[0-9]{5}$/
                            }
                        }
                    },
                    provincia: {
                        message: 'Provincia no válida',
                        validators: {
                            notEmpty: {
                                message: 'La provincia és obligatoria, no puede estar vacio'
                            },
                            stringLength: {
                                min: 2,
                                max: 20,
                                message: 'La provincia no puede ser más corta de 2 letras ni más largo de 20'
                            },
                            regexp: {
                                regexp: /^[a-zA-Z]+$/,
                                message: 'La provincia solo puede contener letras'
                            }
                        }
                    },
                    pais: {
                        message: 'País no válida',
                        validators: {
                            notEmpty: {
                                message: 'El país és obligatorio, no puede estar vacio'
                            },
                            stringLength: {
                                min: 2,
                                max: 20,
                                message: 'El país no puede ser más corto de 2 letras ni más largo de 20'
                            },
                            regexp: {
                                regexp: /^[a-zA-Z]+$/,
                                message: 'El país solo puede contener letras'
                            }
                        }
                    }
                }
            });
        });
    </script>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <p><a class="navbar-brand hidden-xs" href="#" id="cabecera-responsive"> <img src="img/imagotip.png" id="logo-cabecera" /> SOBRE RUEDAS</a></p>
                    <br><br>
                    <p id="location-footer">C/ La Vila Del Pingüí, 26
                        <br> Bajos, Barcelona 000000<br> España</p>
                </div>
                <div class="col-sm-3">
                </div>
                <div class="col-sm-3">
                    <p class="titulo-footer">Encuentra lo que buscas</p>
                    <p><a class="listado-footer" href="/">Inicio</a></p>
                    <p><a class="listado-footer" href="#">Teorica</a></p>
                    <p><a class="listado-footer" href="#">Practica</a></p>
                    <p><a class="listado-footer" href="#">Contacto</a></p>
                </div>
                <div class="col-sm-3">
                    <p class="titulo-footer">Síguenos</p>
                    <p><a class="listado-footer" href="#"><i class="fa fa-facebook-square fa-2x"></i>&nbsp; &nbsp; facebook/SobreRuedas.com</a></p>
                    <p><a class="listado-footer" href="#"><i class="fa fa-twitter-square fa-2x"></i>&nbsp; &nbsp; @SobreRuedas</a></p>
                    <p><a class="listado-footer" href="#"><i class="fa fa-instagram fa-2x"></i>&nbsp; &nbsp; @SobreRuedas</a></p>
                </div>
            </div>
            <div class="row">
                <div class="align-center">
                    <p><a class="listado-footer" href="#"><i class="fa fa-creative-commons  fa-1x"></i>&nbsp; &nbsp; by Marta Corchado y Juan Oliva</a></p>
                </div>
            </div>
        </div>
    </footer>
    <!-- Fin Footer -->
    <script src="js/bootstrap.min.js"></script>
    </body>
</html>

