<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">

	<!-- Bootstrap Core CSS -->
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
	<link rel="stylesheet" href="css/bootstrap.css">
	<link rel="stylesheet" href="css/style.css">

	<!--FAVICON -->
	<link href="img/favicon.png" rel="icon" type="image/png">

	<!--SEO Elements -->
	<title>Autoescuela Sobre Ruedas | La mejor autoescuela del mundo mundial</title>
	<meta name="Description" content="La mejor autoescuela del mundo mundial." >
	<meta name="Keywords" content="Autoescuela, clases de teorica, practicas de conducir, coche, carné de coche.">

	<!-- Custom CSS -->
	<link href="css/style.css" rel="stylesheet">
	<!-- Typography -->
	<link href='https://fonts.googleapis.com/css?family=Lato:400,300,900,300italic,400italic,900italic' rel='stylesheet' type='text/css'>

	<!-- Jquery -->
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
	<script language="Javascript" type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>
	<script language="Javascript" type="text/javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

<script type="text/javascript">
$(document).ready(function() {

 $(function() {
    $( "#datepicker" ).datepicker( {
    	changeMonth: true,
        changeYear: true,
        dateFormat: 'dd/mm/yy'
    });
});

 $('#pdffile').change(function(){
     $('#subfile').val($(this).val());
});


});

</script>


</head>
<body data-spy="scroll" data-target=".navbar" data-offset="50">
	<!-- Menú -->
	<nav class="navbar navbar-inverse navbar-fixed-top" data-spy="affix" data-offset-top="197" role="navigation">
	  <div class="container">
	    <p class="container">
		  <!-- Hamburguesa -->
		  <div class="navbar-header">
		    <button type="button" class="navbar-toggle" data-toggle="collapse"
		            data-target=".navbar-ex1-collapse">
		      <span class="sr-only">Desplegar navegación</span>
		      <span class="icon-bar"></span>
		      <span class="icon-bar"></span>
		      <span class="icon-bar"></span>
		    </button>
		    <a class="navbar-brand visible-xs-block" href="#" id="cabecera-responsive"> <img src="img/imagotip.png" id="logo-cabecera" /> SOBRE RUEDAS</a>
		  </div>

		  <!-- Menú -->
			<div class="collapse navbar-collapse navbar-ex1-collapse">
				<a class="navbar-brand hidden-xs" href="#" id="cabecera-responsive"> <img src="img/imagotip.png" id="logo-cabecera" /> SOBRE RUEDAS</a>
		    <ul class="nav navbar-nav navbar-right">
					<li><a href="/">Inicio</a></li>
			    <li><a href="#">Teorica</a></li>
			    <li><a href="#">Practica</a></li>
					<li><a href="#">Contacto</a></li>
					<button type="button"  onclick="window.location.href='/registro'" class="btn btn-default btn-success">REGISTRO <img src="img/key.png" id="hr" /></button>
		    </ul>
		  </div>
			</p>
	  </div>
	</nav>

	<div id="container-img-registro">
		<!-- Formulario -->
			 <div class="container">
			<div id="panel-form">
			  <h2>Registro de nuevo usuario:</h2>
			  <form class="form-horizontal" role="form" action="/registrar" method="post">
			    <div class="form-group">
			      <label class="control-label col-sm-2" for="email">Email:</label>
			      <div class="col-sm-10">
			        <input type="email" class="form-control" id="email" name="email" placeholder="Enter email">
			      </div>
			    </div>
			    <div class="form-group">
			      <label class="control-label col-sm-2" for="pwd">Contraseña:</label>
			      <div class="col-sm-10">          
			        <input type="password" class="form-control" id="pwd" name="pwd" placeholder="Enter password">
			      </div>
			    </div>
			    <div class="form-group">
			      <label class="control-label col-sm-2">Nombre:</label>
			      <div class="col-sm-4">          
			        <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre">
			      </div>
			      <label class="control-label col-sm-1">Apellidos:</label>
			      <div class="col-sm-5">          
			        <input type="text" class="form-control" id="apellidos" name="apellidos" placeholder="Apellidos">
			      </div>
			    </div>
			    <div class="form-group">
			      <label class="control-label col-sm-2">Teléfono:</label>
			      <div class="col-sm-2">          
			        <input type="text" class="form-control" id="tel" name="tel" placeholder="666666666">
			      </div>
			      <label class="control-label col-sm-2">Fecha de nacimiento:</label>
			      <div class="col-sm-2">          
			        <input type="text" class="form-control" id="datepicker" name="fechNacimiento">
			      </div>
			      <label class="control-label col-sm-1">DNI-NIE:</label>
			      <div class="col-sm-3">          
			        <input type="text" class="form-control" id="dni" name="dni" placeholder="00000">
			      </div>
			    </div>
			    <div class="form-group">
			      <label class="control-label col-sm-2">Dirección:</label>
			      <div class="col-sm-4">          
			        <input type="text" class="form-control" id="direccion" name="calle" placeholder="C/XXXXX">
			      </div>
			      <label class="control-label col-sm-1">Número:</label>
			      <div class="col-sm-1">          
			        <input type="text" class="form-control" id="num" name="num" placeholder="00">
			      </div>
			      <label class="control-label col-sm-2">Codigo Postal:</label>
			      <div class="col-sm-2">          
			        <input type="text" class="form-control" id="cp" name="cp" placeholder="00000">
			      </div>
			    </div>
			    <div class="form-group">
			      <label class="control-label col-sm-2">Provincia:</label>
			      <div class="col-sm-4">          
			        <input type="text" class="form-control" id="provincia" name="provincia" placeholder="Provincia">
			      </div>
			      <label class="control-label col-sm-2">País de nacimiento:</label>
			      <div class="col-sm-4">          
			        <input type="text" class="form-control" id="pais" name="pais" placeholder="País de nacimiento">
			      </div>
			    </div>

			    <div class="form-group">
			      <label class="control-label col-sm-2">Imagen de usuario:</label>
			      <div class="col-sm-4">          
			        <!--   <input class="input-xlarge" name="foto" type="text" /> -->
			          <input id="pdffile" style="visibility: hidden;" name="file" type="file" />
			          <!-- <a class="btn" onclick="$('#pdffile').click();"> Browse</a> -->
			      </div>
			    </div>

			    <div class="form-group">        
			      <div class="col-sm-offset-2 col-sm-10">
			        <button type="submit" class="btn btn-default">Submit</button>
			      </div>
			    </div>
			  </form>
		  </div>
		</div>

</div>


<div class="background">


<!-- Packs -->
<div class="container">
			<section>
					<div class="precio precio-caja">
							<div class="precio-caja-individual">
									<h3 class="precio-titulo">BASIC</h3>
									<p class="precio-descrip">Precio de pack básico, con el que podrás empezar a sacarte el carné de conducir.</p>
									<div class="precio-euro">125<span class="precio-euro-actual">€</span><span class="precio-forma-pago">/ pago único</span></div>
									<ul class="precio-listado">
											<li><p class="glyphicon glyphicon-menu-right icono"></p>Matrícula</li>
											<li><p class="glyphicon glyphicon-menu-right icono"></p>Material didáctico</li>
											<li><p class="glyphicon glyphicon-menu-right icono"></p>Teorica</li>
									</ul>
							</div>
							<div class="precio-caja-individual">
									<h3 class="precio-titulo">STANDARD</h3>
									<p class="precio-descrip">Pack BASIC + clases prácticas de conducir <br>+ examen práctico.</p>
									<div class="precio-euro">85<span class="precio-euro-actual">€</span><span class="precio-forma-pago">/ month</span></div>
									<ul class="precio-listado">
										<li><p class="glyphicon glyphicon-menu-right icono"></p>Matrícula</li>
										<li><p class="glyphicon glyphicon-menu-right icono"></p>Material didáctico</li>
										<li><p class="glyphicon glyphicon-menu-right icono"></p>Teorica</li>
										<li><p class="glyphicon glyphicon-menu-right icono"></p>15 clases prácticas</li>
										<li><p class="glyphicon glyphicon-menu-right icono"></p>1er examen práctico</li>
									</ul>
							</div>
							<div class="precio-caja-individual">
									<h3 class="precio-titulo">UNIQUE</h3>
									<p class="precio-descrip">Pack para personas que ya poseen la teorica, ya sea por libre o de otro carné.</p>
									<div class="precio-euro">189<span class="precio-euro-actual">€</span><span class="precio-forma-pago">/ pago único</span></div>
									<ul class="precio-listado">
											<li> <p class="glyphicon glyphicon-menu-right icono"></p>Matrícula</li>
											<li><p class="glyphicon glyphicon-menu-right icono"></p>Exámen práctico</li>
									</ul>
							</div>
					</div>
			</section>
	</div>
</div>
	<!-- fin Packs -->

	<!-- Footer -->
	<footer>
	<div class="container">
		<div class="row">
			<div class="col-sm-3">
				<p><a class="navbar-brand hidden-xs" href="#" id="cabecera-responsive"> <img src="img/imagotip.png" id="logo-cabecera" /> SOBRE RUEDAS</a></p>
				<br><br>
				<p id="location-footer">C/ La Vila Del Pingüí, 26
				<br> Bajos, Barcelona 000000<br> España</p>
			</div>
			<div class="col-sm-3">
			</div>
			<div class="col-sm-3">
					<p class="titulo-footer">Encuentra lo que buscas</p>
					<p><a class="listado-footer" href="/">Inicio</a></p>
					<p><a class="listado-footer" href="#">Teorica</a></p>
					<p><a class="listado-footer" href="#">Practica</a></p>
					<p><a class="listado-footer" href="#">Contacto</a></p>
			</div>
			<div class="col-sm-3">
					<p class="titulo-footer">Síguenos</p>
					<p><a class="listado-footer" href="#"><i class="fa fa-facebook-square fa-2x"></i>&nbsp; &nbsp; facebook/SobreRuedas.com</a></p>
					<p><a class="listado-footer" href="#"><i class="fa fa-twitter-square fa-2x"></i>&nbsp; &nbsp; @SobreRuedas</a></p>
					<p><a class="listado-footer" href="#"><i class="fa fa-instagram fa-2x"></i>&nbsp; &nbsp; @SobreRuedas</a></p>
			</div>
		</div>
		<div class="row">
			<div class="align-center">
				<p><a class="listado-footer" href="#"><i class="fa fa-creative-commons  fa-1x"></i>&nbsp; &nbsp; by Marta Corchado y Juan Oliva</a></p>
			</div>
		</div>
	</div>
	</footer>
	<!-- Fin Footer -->
	<script src="js/bootstrap.min.js"></script>
</body>
</html>
