<li><a href="/">Inicio</a></li>
<li><a href="/teorica">Teórica</a></li>
<li><a href="/">Práctica</a></li>
<li><a href="#">Contacto</a></li>
<!-- Boton inicio sesion modal -->
<button type="button" class="btn btn-default btn-success" data-toggle="modal" data-target="#ISesion">Inicio Sesión <img src="img/key.png" id="hr" /></button>