    <section class="text-center hidden-overflow">
        <div class="container">
            <h3 class="wp wp-1">Unete a nuestra gran familia</h3>
            <p class="lead wp wp-2">Te quitaremos el miedo al volante y aprenderás a conducir de manera eficaz y resolutiva.</p>
            <img src="img/coche.png" alt="coche red" class="coche">
        </div>
    </section>
<!-- Como funcionamos -->
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="identidad">
                            <div class="identidad-block">
                                <span class="glyphicon glyphicon-piggy-bank"></span>
                                <h4 class="identidad-title">Económica</h4>
                                <h6 class="identidad-subtitle">Paga menos por más.</h6>
                                <p class="identidad-text">La autoescuela que mejor compite con los precios de mercado actuales.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="identidad">
                            <div class="identidad-block">
                                <span class="glyphicon glyphicon-ok"></span>
                                <h4 class="identidad-title">Fácil</h4>
                                <h6 class="identidad-subtitle">Accede rápido a todo.</h6>
                                <p class="identidad-text">Accede a todas las possibilidades que te ofrecemos con tansolo un click de ratón en una web cercana y próxima.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="identidad m-b-0">
                            <div class="identidad-block">
                                <span class="glyphicon glyphicon-heart"></span>
                                <h4 class="identidad-title">Divertida</h4>
                                <h6 class="identidad-subtitle">Mejor trato asegurado.</h6>
                                <p class="identidad-text">En esta pequeña familia que hemos formado te sentirás siempre como en casa.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Fin como funcionamos -->