
<div class="background">
<div class="container">
	<h2 class="align-center">Resuelve tus dudas y pide información</h2><br>
	<form role="form">
		<div class="row">
		<div class="col-sm-4 form-group">
			<h4>Datos personales</h4>
			<br>
			<div class="input-group">
      <div class="input-group-addon"><span class="glyphicon glyphicon-education" aria-hidden="true"></span></div>
      <input type="text" class="form-control" id="exampleInputAmount" placeholder="Dinos tu nombre">
    	</div>
			<br>
			<div class="input-group">
			<div class="input-group-addon"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span></div>
			<input type="text" class="form-control" id="exampleInputAmount" placeholder="Teléfono de contacto">
			</div>
			<br>
			<div class="input-group">
			<div class="input-group-addon"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></div>
			<input type="text" class="form-control" id="exampleInputAmount" placeholder="Una dirección de email">
			</div>
		</div>
		<div class="col-sm-4 form-group">
			<h4>Sobre qué quieres información</h4>
			<br>
			<div class="input-group">
      <span class="input-group-addon"><input type="radio" aria-label="Teorica y practica" name="info" value="1"></span></span>
      <input type="text" class="form-control disabled-input" id="disabledInput" placeholder="Teorica y práctica" readonly>
    	</div>
			<br>
			<div class="input-group">
				<span class="input-group-addon"><input type="radio" aria-label="Teorica y practica" name="info" value="2"></span></span>
	      <input type="text" class="form-control disabled-input" id="disabledInput" placeholder="Sólo práctica" readonly>
			</div>
			<br>
			<div class="input-group">
				<span class="input-group-addon"><input type="radio" aria-label="Teorica y practica" name="info" value="3"></span></span>
	      <input type="text" class="form-control disabled-input" id="disabledInput" placeholder="Prácticas de reciclage" readonly>
			</div>
		</div>
		<div class="col-sm-4 form-group">
			<h4>Vía de contacto</h4>
			<br>
			<div class="input-group">
      <span class="input-group-addon"><input type="radio" aria-label="Teorica y practica" name="info" value="1"></span></span>
      <input type="text" class="form-control disabled-input" id="disabledInput" placeholder="Visitar la autoescuela" readonly>
    	</div>
			<br>
			<div class="input-group">
				<span class="input-group-addon"><input type="radio" aria-label="Teorica y practica" name="info" value="2"></span></span>
	      <input type="text" class="form-control disabled-input" id="disabledInput" placeholder="Vía móvil" readonly>
			</div>
			<br>
			<div class="input-group">
				<span class="input-group-addon"><input type="radio" aria-label="Teorica y practica" name="info" value="3"></span></span>
	      <input type="text" class="form-control disabled-input" id="disabledInput" placeholder="Vía email" readonly>
			</div>
		</div>
		<div class="form-group">

			<div class="align-center">
				<button type="submit" class="btn btn-success boton-registro">Pedir información</button>
			</div>
		</div>
	</form>
	</div>
</div>
</div>