<!-- Profesores -->
        <div class="container">
            <section>
	<div class="row">
	  <div class="col-sm-6 col-md-4">
	    <div class="thumbnail">
	      <img src="img/profe1.jpg" alt="Prodessora" class="circular">
	      <div class="caption">
	        <h3>Perico de los palotes</h3>
	        <p>Profesor de prácticas, con un magnifico historial en lo que se refiere a aprovados. Gran persona y sobretodo gran conductor</p>
	      </div>
	    </div>
	  </div>
		<div class="col-sm-6 col-md-4">
	    <div class="thumbnail">
	      <img src="img/secretaria.jpg" alt="Secretaria" class="circular">
	      <div class="caption">
	        <h3>María Eugenia de los Cantes</h3>
	        <p>Asesorate e introducete en el proceso de obetnción del cané de conducir gracias a la adorable y simpatica secretaría de nuestra autoescuela.</p>
	      </div>
	    </div>
	  </div>
		<div class="col-sm-6 col-md-4">
	    <div class="thumbnail">
	      <img src="img/profe2.jpg" alt="Professor" class="circular">
	      <div class="caption">
	        <h3>El Puto Amo</h3>
	        <p>Profesor de teorica y práctica de nuestra maravillosa autoescuela. Todos sus alumnos aprueban sin ningún esfuerzo.</p>
	      </div>
	    </div>
	  </div>
	</div>
                </section>
</div>
         <!-- Fin Profesores -->