<!-- horarios -->
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="identidad">
                            <div class="identidad-block">
                                <span class="glyphicon glyphicon-dashboard"></span>
                                <h4 class="identidad-title">Mañana</h4>
                                <h6 class="identidad-subtitle">10 - 11 h</h6>
                                <p class="identidad-text">Si eres madrugador y prefieres estudiar por la mañana, éste es tu horario.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="identidad">
                            <div class="identidad-block">
                                <span class="glyphicon glyphicon-dashboard"></span>
                                <h4 class="identidad-title">Tarde</h4>
                                <h6 class="identidad-subtitle">16 - 17 h</h6>
                                <p class="identidad-text">Si te aburren las siestas, apúntate a este y ven después de comer.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="identidad m-b-0">
                            <div class="identidad-block">
                                <span class="glyphicon glyphicon-dashboard"></span>
                                <h4 class="identidad-title">Noche</h4>
                                <h6 class="identidad-subtitle">20 - 21.30 h</h6>
                                <p class="identidad-text">Para los más trabajadores, un horario intensivo.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Fin horarios -->