<!-- horarios -->
        <section>
            <div class="container">
                <div class="row">
                    <h2 class="align-center">Horarios y precios de prácticas</h2>
                    <p class="lead wp wp-2 align-center">Podrás escoger el horario que mejor le convenga atu vida rutinaria haciendo prácticas de 45 min.</p>
                    <div class="col-md-4">
                        <div class="identidad">
                            <div class="identidad-block">
                                <span class="glyphicon glyphicon-dashboard"></span>
                                <h4 class="identidad-title">Horario</h4>
                                <h6 class="identidad-subtitle">8 - 20 h</h6>
                                <p class="identidad-text">Escoge la hora que más te guste.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="identidad">
                            <div class="identidad-block">
                                <span class="glyphicon glyphicon-euro"></span>
                                <h4 class="identidad-title">Precio</h4>
                                <h6 class="identidad-subtitle">de 26 a 27'80 €</h6>
                                <p class="identidad-text">Podrás comprar packs de 10 practicas o cogerlas sueltas.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="identidad m-b-0">
                            <div class="identidad-block">
                                <span class="glyphicon glyphicon-road"></span>
                                <h4 class="identidad-title">¿Dónde?</h4>
                                <h6 class="identidad-subtitle">Zonas de exámen</h6>
                                <p class="identidad-text">Sabemos qué es lo que más te conviene. Por eso siempre realizamos las prácticas en zonas de examen.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Fin horarios -->