  <!-- Packs -->
        <div class="background">
            <div class="container">
                <section>
                    <div class="row align-center">
                        <h2 class="wp wp-1" >Clases muy divertidas</h2>
                         <p class="lead wp wp-2">Clases amenas, divertidas y con métodos poco convencionales para que aprendas rápido y eficazmente.</p>
            <img src="img/aula.jpg" alt="aula" class="img-clase">
                    </div>
                </section>
            </div>
        </div>
        <!-- fin Packs -->