  <!-- Packs -->
        <div class="background">
            <div class="container">
                <section>
                    <div class="precio precio-caja">
                        <div class="precio-caja-individual">
                            <h3 class="precio-titulo">BASIC</h3>
                            <p class="precio-descrip">Precio de pack básico, con el que podrás empezar a sacarte el carné de conducir.
                            </p>
                            <div class="precio-euro">125<span class="precio-euro-actual">€</span><span class="precio-forma-pago">/ pago único</span>
                            </div>
                            <ul class="precio-listado">
                                <li><p class="glyphicon glyphicon-menu-right icono"></p>Matrícula</li>
                                <li><p class="glyphicon glyphicon-menu-right icono"></p>Material didáctico</li>
                                <li><p class="glyphicon glyphicon-menu-right icono"></p>Teorica</li>
                            </ul>
                            <button class="precio-boton" onclick="window.location='/registro:1'">Escoge una opción</button>
                        </div>
                        <div class="precio-caja-individual">
                            <h3 class="precio-titulo">STANDARD</h3>
                            <p class="precio-descrip">Pack BASIC + clases prácticas de conducir <br>+ examen práctico.</p>
                            <div class="precio-euro">85<span class="precio-euro-actual">€</span><span class="precio-forma-pago">/ month</span>
                            </div>
                            <ul class="precio-listado">
                                <li><p class="glyphicon glyphicon-menu-right icono"></p>Matrícula</li>
                                <li><p class="glyphicon glyphicon-menu-right icono"></p>Material didáctico</li>
                                <li><p class="glyphicon glyphicon-menu-right icono"></p>Teorica</li>
                                <li><p class="glyphicon glyphicon-menu-right icono"></p>15 clases prácticas</li>
                                <li><p class="glyphicon glyphicon-menu-right icono"></p>1er examen práctico</li>
                            </ul>
                            <button class="precio-boton" onclick="window.location='/registro:2'">Escoge una opción</button>
                        </div>
                        <div class="precio-caja-individual">
                            <h3 class="precio-titulo">UNIQUE</h3>
                            <p class="precio-descrip">Pack para personas que ya poseen la teorica, ya sea por libre o de otro carné.</p>
                            <div class="precio-euro">189<span class="precio-euro-actual">€</span><span class="precio-forma-pago">/ pago único</span>
                            </div>
                            <ul class="precio-listado">
                                <li> <p class="glyphicon glyphicon-menu-right icono"></p>Matrícula</li>
                                <li><p class="glyphicon glyphicon-menu-right icono"></p>Exámen práctico</li>
                            </ul>
                            <button class="precio-boton" onclick="window.location='/registro:3'">Escoge una opción</button>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <!-- fin Packs -->