  <!-- Packs -->
        <div class="background">
            <div class="container">
                <section>
                    <div class="row align-center">
                        <h2 class="wp wp-1" >Recordatorio</h2>
                         <p class="lead wp wp-2">Un dia antes de tu clase de práctica, te enviaremos un correo electronico para recordarte la hora de tu clase.</p>
            <img src="img/mailing.png" alt="aula" class="align-center" style="width: 30%;">
                    </div>
                </section>
            </div>
        </div>
        <!-- fin Packs -->