<!-- Cabecera -->

<div ng-controller="PracticasUser" ng-init="practisUser()">

    <div id="container-img-calendar">
        <div class="container">
            <div id="panel-form">
                <form id="validatorForm" class="form-horizontal" role="form" action="/comprar" method="post">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <p id="title-practicas-pagadas">Prácticas pagadas</p>
                                <label class="control-label" id="practicas-pagadas">{{ practicas[0].numPracticasTotalPagadas }} </label>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group"> 
                                <label class="control-label " >Prácticas sueltas:</label>
                                <div> 
                                    <input type="number" class="form-control"  name="uni" min="0" ng-model="prac.uni" >
                                </div>
                                <label class="control-label " >Pack de prácticas:</label>
                                <div>
                                    <input type="number" class="form-control"  name="pack" min="0" ng-model="prac.pack" >
                                </div>
                                <label class="control-label" >Total a pagar: {{ prac.uni * practicas[0].importePracticas + prac.pack * practicas[0].importePackPractis }} €</label>
                                <label class="control-label text-pract" >Número de prácticas a contratar: {{ prac.uni  + prac.pack * 10 }}</label>
                                <div class="form-group">
                                    <div>
                                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#ISesion">Contratar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                    <!-- Modal -->
                    <div modal="showModal" class="modal fade" id="ISesion" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title align-center" id="myModalLabel">Contratar Prácticas</h4>
                                </div>
                                <div class="modal-body">
                                    <div>
                                        <span>¿ Quieres contratar {{ prac.uni  + prac.pack * 10 }} prácticas por {{ prac.uni * practicas[0].importePracticas + prac.pack * practicas[0].importePackPractis }} € ?</span>
                                    </div>

                                </div>
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                    </div>
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <button type="submit" class="btn btn-default">Pagar</button>
                                    </div>
                                </div>
                                </form>
                        </div>
                    </div>
                    </div>
            </div>
            <!-- FIN Modal -->


            </form>
    </div>
</div>
</div>

</div>

<section class="content" style="margin-top: 70px;">
    <section class="container">
        <section ng-controller="CalendarDemoCtrl" ng-init="loadEvents()">
            <div class="alert alert-success" ng-show="event">Event selected:{{event.startTime|date:
                'MMM/dd,yyyy,HH:mm'}} - {{event.endTime|date:'MMM/dd,yyyy,HH:mm'}}, {{event.title}}
            </div>

            <div class="btn-toolbar">
                <div class="btn-group">
                    <button type="button" class="btn btn-default" ng-class="{active:mode==='month'}"
                            ng-click="changeMode('month')">
                        Month
                    </button>
                    <button type="button" class="btn btn-default" ng-class="{active:mode==='week'}"
                            ng-click="changeMode('week')">
                        Week
                    </button>
                </div>
                <div class="btn-group">
                    <button type="button" class="btn btn-default" ng-disabled="isToday()"
                            ng-click="today()">
                        Today
                    </button>
                </div>
            </div>
            <div class="well well-sm">
                <calendar ng-model="currentDate" calendar-mode="mode" event-source="eventSource"
                          range-changed="reloadSource(startTime, endTime)"
                          event-selected="onEventSelected(event)"
                          time-selected="onTimeSelected(selectedTime)">
                </calendar>
            </div>
        </section>
    </section>
</section>