<!-- Cabecera -->

    <script src="http://cdn.staticfile.org/angular.js/1.2.10/angular.min.js"></script>
    <script src="js/searchUsers.js"></script>

<div ng-app="searchUsers" ng-controller="buscaUsuarios" >

    <div class="container" >
        <div id="panel-form" ng-init='datosTraer()' >
            <div>
                <h2  class='col-sm-4'>HOLA!</h2>
                <label>Notificaciones:</label>

            </div>
            <div ng-if="! userPagos[0].examenPractico[0].examenPagado && userPagos[0].examenPractico[0].examenPagado !== undefined">
            <p>Fecha del examen{{userPagos[0].examenPractico[0].fechEx  | date : 'dd/MM/yy' }}</p>
                <p>tienes que pagar el exámen práctico:{{userPagos[0].examenPractico[0].impExamen}}€</p>
                <button class='btn btn-default' ng-click='pagar()' >Pagar</button>
            </div>
            <div class="modal fade" id="ISesion" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class='modal-title align-center' id='myModalLabel'>Test</h4>
                        </div>
                        <div class="modal-body">
                            <br>
                        </div>
                        <div class="modal-footer align-center">


                            <div class='form-group'>
                             <div class='col-sm-offset-2 col-sm-10'>
                                 <button ng-hide="acabado" class='btn btn-default' data-dismiss='modal'>Cancelar
                                 </button>
                             </div>
                             <div class='col-sm-offset-2 col-sm-10'>
                                 <button ng-hide="acabado" type='submit' class='btn btn-default' ng-click='corregir()'>Acabar
                                 </button>
                             </div>
                             <div  ng-show="acabado" class='col-sm-offset-2 col-sm-10'>
                                 <button type='submit' class='btn btn-default' data-dismiss='modal' ng-click='reset()'>Finalizar
                                 </button>
                                 <h3>{{  }} fallos</h3>
                             </div>
                         </div>

                     </div>
                 </div>
             </div>
         </div>
     </div>
 </div>
</div>
<!-- FIN Modal -->


</div>
</div>
</div>

</div>