<!-- Cabecera -->



<div ng-app="testUser" ng-controller="hacerTest" >

    <div id="container-img-calendar">
        <div class="container">
            <div id="panel-form" ng-init='loadEvents()'>
                <div>
                    <h3  class='col-sm-4'>TEST TEÓRICOS</h3>
                    <label>Escoge Tema</label>
                    <button type='button' class='btn btn-default'>Escoger</button>
                    <button type='button' class='btn btn-default' data-toggle='modal' data-target='#ISesion'>Empezar</button>
                </div>


                <div class="modal fade" id="ISesion" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-backdrop="static" data-keyboard="false">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class='modal-title align-center' id='myModalLabel'>Test</h4>
                            </div>
                            <div class="modal-body">
                                <br>
                                <test ng-hide="position == 30" ng-show="position != 30"></test>
                                <fin ng-hide="position != 30" ng-show="position == 30"></fin>
                            </div>
                            <div class="modal-footer align-center">


                                    <ul class="pagination pagination-sm">
                                       <li >
                                          <a aria-label="Previous" ng-click="move(-1)" >
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    <li ng-repeat="x in eventSource" value="{{ $index }}" ng-model="disa" name="index" ng-click="moveIndex($index)"><a href="#">{{ $index }}</a> 
                                        <!--  ng-if=" position == $index "--> 
                                    </li>
                                    <li >
                                      <a aria-label="Next" ng-click="move(1)" >
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<!-- FIN Modal -->


</form>
</div>
</div>
</div>

</div>