<!-- Cabecera -->



<div ng-app="testUser" ng-controller="hacerTest" >

    <div id="container-img-calendar">
        <div class="container">
            <div id="panel-form" ng-init='loadEvents()'>
             <inicio></inicio>
             <form id="validatorForm" class="form-horizontal" role="form" action="/comprar" method="post">
               

                

                <!-- Modal -->
                <test></test>
            </form>
        </div>
    </div>
</div>
</div>
<!-- FIN Modal -->


</form>
</div>
</div>
</div>

</div>