<!-- Cabecera -->

<script src="js/test.js"></script>
<script src="http://cdn.staticfile.org/angular.js/1.2.10/angular.min.js"></script>

<div ng-app="testUser" ng-controller="hacerTest" >

    <div id="container-img-calendar">
        <div class="container">
            <div id="panel-form">
                <form id="validatorForm" class="form-horizontal" role="form" action="/comprar" method="post">
                    <div class="form-group">
                        <label class="control-label col-sm-4" >Número de prácticas pagadas: {{ practicas[0].numPracticasTotalPagadas }}</label>
                    </div>
                    <div class="form-group"> 
                        <label class="control-label col-sm-2" >Prácticas sueltas:</label>
                        <div class="col-sm-1">
                            <input type="number" class="form-control"  name="uni" min="0" ng-model="prac.uni" >
                        </div>
                        <label class="control-label col-sm-2" >Pack de prácticas:</label>
                        <div class="col-sm-1">
                            <input type="number" class="form-control"  name="pack" min="0" ng-model="prac.pack" >
                        </div>
                        <label class="control-label col-sm-2" >Total a pagar: {{ prac.uni * practicas[0].importePracticas + prac.pack * practicas[0].importePackPractis }} €</label>
                        <label class="control-label col-sm-2" >Número de prácticas a contratar: {{ prac.uni  + prac.pack * 10 }}</label>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="button" class="btn btn-default" data-toggle="modal" data-target="#ISesion">Finalizar</button>

                            </div>
                        </div>
                    </div>

                    <!-- Modal -->
                    <div modal="showModal" class="modal fade" id="ISesion" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title align-center" id="myModalLabel">Finalizar test</h4>
                                </div>
                                <div class="modal-body">
                                    <div>
                                        <span>¿ Quieres acabar el test?</span>
                                    </div>

                                </div>
                                <div class="form-group">
                                  <div class="col-sm-offset-2 col-sm-10">
                                    <button class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                </div>
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-default">Acabar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- FIN Modal -->


    </form>
</div>
</div>
</div>

</div>