<li><a href="/alumnos">Alumnos</a></li>
<li><a href="/calendar">Calendario Prácticas</a></li>
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img src="img/avatar.gif" alt="user" class="img-circle img-user"><%= nombre %><span class="caret"></span></a>
    <ul class="dropdown-menu">
        <li><a href="/logout">logout</a></li>
    </ul>
</li>
