<!-- Cabecera -->

<div ng-controller="buscaUsuarios">
    <!-- datepicker bootstrap -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.min.css" />

<script  src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.min.js"></script>

<script type="text/javascript">
    $(document).ready(function() {
        var hoy = new Date();
        hoy.setDate(hoy.getDate()+2);
        $('.datePicker').datepicker({
            format: 'mm/dd/yyyy',
//            startDate: hoy
        });
        $('.datePicker').on('change', function(){
            $('.datepicker').hide();
        });
    });
</script>
    <!-- Formulario -->
    <div class="container">
        <div id="panel-form" >
            <div class="row">
                <div class="col-sm-4">
                    <h2>Búsqueda de usuario:</h2>
                    <p>Por Nombre: <input autocomplete="off" type="text" class="form-control" name="nombre" placeholder="Introduce un nombre" ng-model="buscaUser.nombre" ng-change="busquedaUsers(buscaUser)"></p>
                    <p>Resultados:</p>
                    <p class="btn btn-default btn-block" ng-repeat="x in users" ng-click="getUser(x)">{{ x.nombre + " " +  x.apellidos}}</p>
                </div>
                <div class="col-sm-2">
                    <p>Alumno:</p>
                    <p>{{ userEscogido.nombre + " " + userEscogido.apellidos }} <br> {{ userEscogido.direccion.calle}}</p>
                </div>
                <div class="col-sm-6">
                    <div ng-show="mostrarTeo">
                        <label class="control-label col-sm-12">Último examen Teórico:{{ userPagos[0].examenTeorico[0].fechEx | date : 'dd/MM/yy' }} Fallos:{{userPagos[0].examenTeorico[0].fallos}}</label>
                        <label class="control-label col-sm-4">Examen Teórico:</label>
                        <div class="col-sm-5 date">
                           <div class="input-group input-append date datePicker">
                                <input type="text" class="form-control" ng-model="fechTeo" />
                                <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                            </div>
                        </div>
                        <div class="col-sm-2 date">
                            <button class="btn btn-default" ng-click="exPrac(1)"> Guardar </button>
                        </div>
                    </div>
                    <div  ng-show="mostrarPrac">
                        <label class="control-label col-sm-12">Aprobado de Teórica:{{ userPagos[0].examenTeorico[0].fechEx | date : 'dd/MM/yy' }} Válido hasta: {{ userPagos[0].examenTeorico[0].fechEx | date : 'dd/MM/yy' }}</label>
                        <label class="control-label col-sm-12">Último examen práctico:{{ userPagos[0].examenPractico[0].fechEx | date : 'dd/MM/yy' }}</label>
                        <label class="control-label col-sm-4">Examen práctico:</label>
                        <div class="col-sm-5 date">
                           <div class="input-group input-append date datePicker" >
                                <input type="text" class="form-control"  ng-model="fechPrac" />
                                <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>
                            </div>
                        </div>
                        <div class="col-sm-2 date">

                            <button class="btn btn-default" ng-click="exPrac(0)"> Guardar </button>
                        </div>
                    </div>
                    <div  ng-show="mostrarFallos">
                        <label class="control-label col-sm-12">Último examen teórico:{{ userPagos[0].examenTeorico[0].fechEx | date : 'dd/MM/yy' }} </label>
                        <div class="col-sm-5 date">
                           <div class="input-group input-append" >
                                <input type="number" class="form-control" min="0" max="30" ng-model="fallosEx" >Fallos:</input>
                            </div>
                        </div>
                        <div class="col-sm-2 date">
                            <button class="btn btn-default" ng-click="fallos()"> Guardar </button>
                        </div>
                    </div>

                    <div ng-show="mostrarReno">
                        <label class="control-label col-sm-4" >Renovación:</label>
                        <div class="col-sm-2 date">
                            <button class="btn btn-default"> Renovar </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


