<!-- Cabecera -->

<div ng-controller="buscaUsuarios">
    <!-- Formulario -->
    <div class="container">
        <div id="panel-form">
            <h2>Búsqueda de usuario:</h2>
            <input type="text" class="form-control" name="nombre" placeholder="Introduce un nombre" ng-model="buscaUser.nombre" ng-change="busquedaUsers(buscaUser)">
            <input type="text" class="form-control" name="dni" placeholder="Introduce un DNI" ng-model="buscaUser.dni" ng-change="busquedaUsers(buscaUser)">
            <button class="btn btn-default">{{ users[0].nombre + " " +  users[0].apellidos}}</button>
        </div>
    </div>
</div>


